.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 350px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  border: 3px solid #af9566;
}

.card:hover {
  height: 450px;
}

.card .imgBx {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}
.card:hover .imgBx {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0 30px;
  height: 60px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}

.card:hover .content {
  top: 150px;
  height: 250px;
}

.card .content div {
  position: relative;
}

.card .content div p {
  margin-left: 15px;
  color: black;
}
